.dashboard {
  display: grid;
  grid-auto-flow: column;
  box-shadow: 0 0 100px 1000px #0a1014;
  height: 95vh;
}

.sidebar {
  background-color: #111b21;
  width: 15vw;
}

.sidebar-nav {
  height: 7vh;
  background-color: #202c33;
  border-right: 1px solid grey;
}

.sidebar-toggle {
  display: none;
}

.sidebar-icon {
  color: #fff;
  font-size: 1.4rem;
  margin: 0 0.5rem;
  cursor: pointer;
}

.sidebar-hidden-icon {
  font-size: 1.6rem;
  margin: 0 0.5rem;
}

.chat {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--primary-color-transparent);
  overflow: auto;
  width: 55vw;
}

.chat-header {
  display: grid;
  place-items: center;
  height: 7vh;
  background-color: #202c33;
}

.chat-title {
  font-size: 1.2rem;
  margin: 0;
}

.menu-li {
  list-style: none;
  background-color: #111b21;
  padding: 3%;
  border-bottom: 2px solid #202c33;
}

.selected {
  background-color: #202c33;
}

.menu-li:hover {
  cursor: pointer;
  background-color: #202c33;
}

.message-area {
  display: grid;
  grid-template-columns: 10fr 1fr;
}

.message-area input {
  height: 3rem;
}

.message-me {
  background-color: #cc7722;
}

.message-others {
  background-color: #d0f0e3;
  color: var(--bg-darker-color);
}

.msg-panel {
  max-height: 100%;
  overflow: auto;
  padding: 2rem 3rem;
}

@media screen and (max-width: 1400px) {
  .sidebar {
    display: none;
  }

  .sidebar-toggle {
    display: inline;
  }

  .chat-header {
    grid-auto-flow: column;
    height: auto;
  }

  .btn-custom {
    width: 100%;
  }

  .msg-panel {
    padding: 1.5rem;
  }

  .chat-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 850px) {
  .msg-panel {
    padding: 0.5rem 1rem;
  }

  .message-area input {
    height: 2rem;
  }

  .chat-title {
    font-size: 0.7rem;
    margin-right: 0.5rem;
  }
}
