.dashboard {
  display: grid;
  grid-template-columns: 2fr 6fr;
  box-shadow: 0 0 100px 1000px #0a1014;
}

.sidebar {
  background-color: #111b21;
}

.sidebar-nav {
  height: 3rem;
  background-color: #202c33;
}

.chat {
  background-color: var(--primary-color-transparent);
}

.chat-header {
  height: 3rem;
  background-color: #202c33;
  border-left: 1px solid grey;
}

.contact-li {
  list-style: none;
  background-color: #111b21;
  padding: 3%;
  border-bottom: 2px solid #202c33;
}

.contact-li:hover {
  cursor: pointer;
  background-color: #202c33;
}
